<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:annotation-config/>
     <context:property-placeholder
            location="classpath:db.properties"/>
    
    <context:component-scan base-package="com.quickveggies.dao" />
     <bean id="dynamicdataSource" class="com.zaxxer.hikari.HikariDataSource" scope="singleton"
            destroy-method="close">
            <property name="dataSourceClassName" value="org.postgresql.ds.PGSimpleDataSource" />
            <property name="maximumPoolSize" value="100" />
            <property name="maxLifetime" value="5000" />
            <property name="idleTimeout" value="10000" />
            <property name="connectionTimeout" value="3000" />
            <property name="dataSourceProperties">
                <props>
                    <prop key="url">${jdbc.url}</prop>
                    <prop key="user">${jdbc.username}</prop>
                    <prop key="password">${jdbc.password}</prop>
              
                </props>
            </property>
        </bean>
 
      

</beans>


